<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js?ver=1"></script>
</body>
</html>
<!--
로딩 속도를 높이기 위해 css는 헤더에, js는 footer에 둠
js 용량이 클 수록 body 실행이 늦어지기 때문에 footer에 위치시킴
css는 화면을 그리는 역할이므로 head에 위치시킴
-->
<!--
스프링부트는 src/main/resources/static에 위치한 JS,CSS,이미지 등의 정적 파일들은 URL에서 /로 설정됨
-->